.container {
    border: 3px solid #5A643C;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    height: 420px;
  }
  
  .examSlots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto; /* Enables scrolling when more than 3 items */
    padding-right: 5px;
  }
  
  .examCard {
    border: 3px solid #5A643C;
    padding: 15px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .noExams {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #888;
    margin-top: 130px;
  }
  
  
  .innerBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .testName {
    font-size: 20px;
    font-weight: 500;
  }
  
  .subject {
    font-size: 18px;
    font-weight: 400;
    color: #5A643C;
  }
  
  .duration {
    font-size: 16px;
    font-weight: 400;
  }
  
  .time {
    font-size: 30px;
    font-weight: 600;
  }
  