.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 30px;
    height: 100vh; /* Ensures full height */
}

.mainContent {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    height: 100vh; /* Ensures full height */
    overflow: hidden;
    margin-top: 70px;
}


.leftSidebar {
    z-index: 10;
    height: 100vh; /* Full height */
    width: 350px;
    overflow: hidden; /* Ensures no scrolling */
}


.rightContainer {
    width: 100%;
    height: 100vh; /* Full height */
    background-color: #f3f5ed;
    display: flex;
    justify-content: center;
    overflow: hidden; /* No scroll */
}


.studentLayout {
    width: 100%;
    z-index: 2;
    margin-top: 40px;
    overflow: hidden; /* No scroll */
}


@media (max-width: 1024px) {
    .leftSidebar {
        flex-basis: 20%;
        max-width: 180px;
    }
}

@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        align-items: center;
    }

    .leftSidebar {
        width: 100%;
        max-width: none;
        text-align: center;
        height: auto; /* Ensures sidebar adjusts */
    }
}
