
.pageWrapper {
    min-height: 100vh; /* Full viewport height */
    padding: 0%;
    margin-top: 80px;
  }
  
  .topSection {
    background-color: white;
    padding: 20px;
  }

  .bottomSection {
    background-color: #f3f5ed;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  