.studentContainer {
    width: 495px;
    height: 205px;
    background: linear-gradient(to bottom right, #5A643C, #6E7C42);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text {
    font-size: 28px;
    color: white;
    margin: 5px 0;
    text-align: left;
    font-weight: bold;
    margin: 20px 0;
  }
  