.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F3F5ED; /* Ensures the top half is colored */
}

.headingSection {
  padding: 100px 0 0px; 
  text-align: center;
}

.topSection {
  background-color: #F3F5ED; 
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomSection {
  background-color: white; 
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
