.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F3F5ED;
  margin-top: 70px; /* Ensures the top half is colored */
}

.headingSection {
  text-align: center;
}

.topSection {
  background-color: #F3F5ED; 
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomSection {
  background-color: white; 
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottomSection h1{
  font-size: 34x;
  font-weight: 600;
}