.container {
    text-align: center;
  }
  
  .heading {
    font-size: 18px;
    margin-bottom: 10px;
    color: #5a643c;

  }
  
  .imageSymbol {
    display: inline-block;
    width: 140px;
    height: 116px;
    background-color: #C2CABE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .editicon {
    font-size: 30px;
    color: #5a643c;
    cursor: pointer;
  }
  .deleteicon {
    font-size: 30px;
    color: #992e2e;
    cursor: pointer;
  }
  .fileInput {
    display: none;
  }
  
  .imagePreviewContainer {
    display: inline-block;
    width: 140px;
    height: 116px;
    background-color: #C2CABE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .options {
    display: flex;
    gap: 10px;
    
  }
  
  .icon:hover {
    cursor: pointer;
    color: #5a643c; /* Change icon color on hover */
  }
  
  .icon {
    font-size: 50px;
  }
  