@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

.graphContainer {
    width: 100%; /* Make it take full width */
    height: 300px;
    min-height: 220px; /* Maintain aspect ratio */
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

/* 📌 Adjust for tablets (≤1024px) */
@media (max-width: 1024px) {
    .graphContainer {
        max-width: 350px;
        height: auto;
    }
}

/* 📌 Adjust for mobile screens (≤768px) */
@media (max-width: 768px) {
    .graphContainer {
        max-width: 300px;
    }
}

/* 📌 Adjust for very small screens (≤480px) */
@media (max-width: 480px) {
    .graphContainer {
        max-width: 100%; /* Take full width */
        padding: 5px;
    }
}
