.profileContainer {
  width: 250px;
  height: 250px;
    background-color: #CCCCCC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .profileImage {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  