
html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.container-fluid {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.tableContainer {
  overflow-x: auto;
  max-height: 500px;
}
.centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  height: 100%;
}
.classToppersContainer {
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}

.classToppersTitle {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.topperItem {
  font-size: 18px;
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 26px;
  text-align: left;
  margin-top: 33px;
}


.noToppers {
  font-size: 16px;
  color: #888;
}




@media (max-width: 768px) {
  .tableContainer {
    max-height: none;
  }

  .rectangles {
    flex-wrap: wrap;
    justify-content: center;
  }
}
