.container {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

/* First Row: Subject Details, Class Toppers, Performance Graph */
.firstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal sections */
  align-items: center; /* Align items at the top */
}
.details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Align all headings in the first row in a single line */
.firstRow h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.topperList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.topperList li {   /* Space between toppers */
  font-size: 28px;
}
/* Remove background, padding, and borders */
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Second Row: Table and Class Accuracy Graph */
.secondRow {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Table takes 2 parts, Accuracy Graph takes 1 part */
  gap: 20px;
}
