
.pageContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 80px;
  overflow-y: hidden;
  margin-left: 30px;
}


.content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  height: 100%;
  overflow: hidden;
}

.backButtonWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.backButton {
  color: #5a643c;
  background-color: transparent;
  border: none;
  padding: 10px 16px;
  font-size: 26px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  color: black;
}

.leftList {
  width: 380px;
  min-width: 200px;
  height: 100vh;
  overflow-y: auto;
  margin-top: 40px;
}


.subjectLayout {
  width: 100%;
  height: 100vh;
  background-color: #f3f5ed;
  overflow-y: auto;
  overflow: hidden;
}


.noSubject {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #5a643c;
}


@media (max-width: 1024px) {
  
  .content {
      flex-direction: column;
      align-items: center;
  }

  .leftList {
      width: 100%;
      max-width: none;
      text-align: center;
      height: auto;
      margin-left: 30px ;
  }

  .subjectLayout {
      width: 100%;
  }
}
