/* Entire Page Container */
.pageContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 80px;
  margin-left: 30px;
  overflow-y: hidden;
}

/* Main Content: Left Sidebar + Right Content */
.content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  height: 100%;
  overflow: hidden;
}

/* Left Sidebar: Subject List */
.leftList {
  width: 450px;
  min-width: 200px; /* Ensures LeftList does not shrink too much */
  height: 100vh;
  overflow-y: auto;
}

/* Right Content: Subject Layout */
.subjectLayout {
  width: 100%;
  height: 100vh;
  background-color: #f3f5ed;
  overflow-y: auto;
  overflow: hidden;
}

/* Message when no subject is selected */
.noSubject {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #5a643c;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .content {
      flex-direction: column;
      align-items: center;
  }

  .leftList {
      width: 100%;
      max-width: none;
      text-align: center;
      height: auto;
  }

  .subjectLayout {
      width: 100%;
  }
}
