.exams-container {
    display: flex;
    height: 100vh;
    gap:55px;
  }
  
  .sidebar {
    width: 350px;
    background-color: #fff;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    gap:15px ;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #F3F5ED;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the top */
    align-items: center;
    gap: 20px;
    overflow-y: auto; /* Enable scrolling only for content */
    height: calc(100vh - 60px);
  }
  
  h1 {
    font-size: 40px;
    color: #5A643C;
    font-weight:800;
    margin-top: 30px;
    margin-bottom: 10px;
  }