.inputContainer {
    margin-bottom: 20px; /* Space between input fields */
  }
  
  .heading {
    font-size: 32px; /* Heading font size */
    margin-bottom: 8px;
    font-weight: 400; /* Space between heading and input */
  }
  
  .input {
    border: none; /* No border by default */
    border-bottom: 2px solid #000; /* Only a bottom border for the line effect */
    width: 300px; /* Make the input take up the full width */
    padding: 8px 0; /* Padding on the top and bottom */
    font-size: 18px; /* Input text size */
    outline: none; /* Remove default focus outline */
    background: transparent; /* Transparent background */
  }
  
  .input:focus {
    border-bottom-color: #6f910b; /* Change color when focused */
  }
  