@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

* {
  font-family: 'Outfit', sans-serif;
}

.tableContainer {
    width: 100%;
    margin: 20px auto;
    border: 2px solid black;
    max-height: 240px; /* 🔁 Approx height for 3 rows + header */
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    font-family: 'Outfit', sans-serif;
    font-size: 23px;
  }
  
  th, td {
    padding: 10px;
    color: black;
    border: 1px solid black;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  th {
    background-color: #3E4727;
    color: white;
    text-align: left;
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .rowEven {
    background-color: #B0BEA8;
  }
  
  .rowOdd {
    background-color: #C2CABE;
  }
  .centerCell {
    text-align: center;
  }
  
