@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}
.searchBar {
    display: flex;
    align-items: center;
    border: 3px solid #5A643C;
    border-radius: 15px;
    width: 345px;
    height: 55px;
    overflow: hidden;
    padding-right: 7px;
    background: white;
    transition: background 0.3s ease-in-out;
  }
  

  
  .input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 15px;
    background: transparent;
    color: black;
    transition: color 0.3s ease-in-out;
  }
  

  
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: 2px solid #5A643C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .searchBar:hover .button {
    background: black;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .icon {
    color: #5A643C;
    transition: color 0.3s ease-in-out;
  }
  
  .searchBar:hover .icon {
    color: white;
  }
  