.rectangle {
  width: 260px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px;
  background: linear-gradient(to right, #5A643C, #6E7C42);
  color: white;
  transition: transform 0.3s ease, background 0.3s ease;
}

.centerText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}


.rectangle.center {
  justify-content: center;
  text-align: center;
}
.leftText {
  font-size: 24px;
  font-weight: bold;
}

.rightText {
  font-size: 38px;
  font-weight: bold;
}

.rectangle.center:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #6E7C42, #5A643C);
  cursor: pointer;
}
@media (max-width: 768px) {
  .rectangle {
    height: 90px;
    padding: 0 15px;
  }

  .leftText {
    font-size: 18px;
  }

  .rightText {
    font-size: 28px;
  }

  .centerText {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .rectangle {
    height: auto;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }

  .leftText, .rightText {
    font-size: 20px;
  }

  .centerText {
    font-size: 18px;
  }
}
