@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Outfit", sans-serif;
  }
  
  .logo {
    font-size: 34px;
    font-weight: bold;
    background: linear-gradient(to right, #5A643C, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .menuItem {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .userSection {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .username {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .dropdownArrow {
    font-size: 18px;
  }
  
  .modal {
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  