@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
  }

/* Main card container */
.card {
    width: 700px;
    height: 70px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #C2CABE;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
  }
  
  /* Date styling */
  .date {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
  }
  
  /* Test name styling */
  .testName {
    font-size: 24px;
    font-weight: bold;
    color: #5a643c;
  }
  
  /* Time styling */
  .time {
    font-size: 20px;
    color: #333;
  }
  
  /* Score styling */
  .score {
    font-size: 20px;
    font-weight: bold;
    color: #5a643c;
  }
  
