@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
  }

.button {
    padding: 12px 20px;
    font-size: 32px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 250px;
    height: 68px;
  }
  
  /* Primary Button */
  .primary {
    background-color: #C2CABE;
    color: #5A643C;
  }
  
 
  
